@import "../section.module.scss";
.section_menu {
  .section__row {
    flex-direction: column;
    justify-content: start;
  }
  .sub-menu {
    @include flex;
    margin-top: 50px;
    .sub-menu__item:first-of-type{
      border-left: none;
    }
    .sub-menu__item {
      border-left: 1px solid rgba(51, 51, 51, 0.2);
      width: 120px;
      height: 50px;
      font-weight: bold;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333333;
    }
  }
  .menu{
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1280px;
    margin-top: 50px;
    .menu-item{
      width: 363px;
      margin-bottom: 30px;
      @include flex;
      .menu-item__title{
        font-family: Banny Bold Round;
        font-size: 18px;
        text-transform: uppercase;
        color: #333;
      }
      .menu-item__subtitle{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba(51, 51, 51, .5)
      }
      .menu-item__price{
        font-family: Banny Bold Round;
        font-size: 18px;
        margin-left: 15px;
        color: #333;
      }
    }
  }
}
