@import "styles.module.scss";
.section {
  height: fit-content;
  min-height: 676px;
  @include flex;
  align-items: center;
  background: center/cover no-repeat;
  .section__title {
    margin: 43px auto;
    text-align: center;
    @include Caption;
  }
  .section__spacer {
    height: 100px;
  }
  .section__footer {
    height: 100px;
    font-weight: normal;
    font-size: 12px;
    width: 100%;
    justify-content: center;
    @include flex;
    align-items: center;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
    & > span {
      font-weight: bold;
    }
  }
  .section__row {
    @include flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-text {
    @include flex;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    color: #000;
    .section-text__title {
      @include Heading_2;
      margin-bottom: 8px;
    }
    .section-text__under-line {
      @include under-line;
      margin-bottom: 10px;
    }
    .section-text__bold {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 18px;
    }
    .section-text__text {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }
  }
  .section-text_black {
    color: #000;
  }
  .section-text_white {
    color: #fff;
  }
  .section-img {
    position: relative;
    img {
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
      border-radius: 5px;
      width: 475px;
      height: 475px;
    }
    .section-img__rectangle {
      border: 20px solid #e8c300;
      filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
      border-radius: 5px;
      position: absolute;
      width: 250px;
      height: 250px;
      top: calc(50% - 125px);
    }
  }
  .section-img_right {
    margin-right: 125px;
    margin-left: 80px;
    .section-img__rectangle {
      right: -125px;
    }
  }
  .section-img_left {
    margin-right: 80px;
    margin-left: 125px;
    .section-img__rectangle {
      left: -125px;
    }
  }
}
